.contact-preview{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    font-size: 13px;
    border-bottom: 1px solid rgb(255 255 255 / 21%);
    cursor: pointer;
    &:hover{
        background: #39444eb2;
    }

   .robohash{
    padding: 27px;
    background: aliceblue;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    border-radius: 100px;
   }
   .contact-content{
    position: relative;
    left: 6%;

       h1{
           padding-bottom: 6px;
           font-size: 25px;
       }
       P{
           color: rgb(255 255 255 / 21%);
       }
   }
}