.app-header {
    background-color: rgb(38 54 67 / 84%);
    color: white;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    h1{
        font-size: 27px;
    font-weight: 600;
    margin-left: 4px;
    }
    nav {
        font-size: 20px;
        a:not(:last-of-type) {
            margin-inline-end: 50px;
        }
    }
}